#color() {
  .brand() {
    blue: #0092d0;
    red: #ff7500;
    yellow: #fdbe43;
  }

  .extended() {
    blue: #0083c7;
    green: #2faf37;
    purple: #4e1b71;
    red: #fa431d;
    violet: #3e3ca1;
    yellow: #fdb12b;
  }

  .text() {
    dark: #1b1f3a;
    light: #dbd8e3;
  }
}
